.main_sender .container{

   
    border: 2px solid black;
    width: 700px;
    box-shadow: 5px 10px 8px #888888;
    padding: 20px;
   
}

.cipher_set{

    position: relative;
    top: 20px;
}

.cipher_text{

    border: 1px solid black;
}

.send_button{

    position: relative;
   
}
/*
.sha-set{

    overflow: scroll;
    width:200px;
}
*/
.rsa{

    position: relative;
    top: 100px;
}